apiVersion: v1
data:
  github-secret: sample-github-secret
  kustomization-url: a3VzdG9taXphdGlvbi1zZXJ2aWNlLmNsdXN0ZXItZ2VuZXJhdG9yLnN2Yy5jbHVzdGVyLmxvY2Fs
  terraforming-url: dGVycmFmb3JtaW5nLXNlcnZpY2UuY2x1c3Rlci1nZW5lcmF0b3Iuc3ZjLmNsdXN0ZXIubG9jYWw=
kind: Secret
metadata:
  name: gateway-secret
type: Opaque
