apiVersion: v1
data:
  git-user: sample-github-user
  personal-token: sample-github-personal-token
  terraform-path: sample-terraform-path
kind: Secret
metadata:
  name: terraforming-secret
type: Opaque
