apiVersion: v1
data:
  git-user: sample-github-user
  personal-token: sample-github-personal-token
  gcp-project: sample-project-name
  gcp-user: sample-gcp-user
kind: Secret
metadata:
  name: kustomization-secret
type: Opaque
